body {
  background-color: #131842;
}
#navbar {
  font-size: larger;
  background-color: #131842;
  padding: 5px;
  border: 5px 0px 20px 0px;
  position: sticky;
  top: 0px;
}
ul {
  display: flex;
  justify-content: space-between;
}
a {
  color: #e68369;
  text-decoration: none;
}
li {
  list-style-type: none;
  display: inline-block;
}

#myself {
  background-color: #405d72;
  border-radius: 10%;
  margin: 100px 20px 0px 20px;
  display: flex;
  flex-direction: row;
}

#proPic {
  border-radius: 20%;
  padding: 20px;
}

#ShortDes {
  font-size: x-large;
  color: #fbf6e2;
  align-self: center;
  margin: 20px;
}

@media screen and (max-width: 800px) {
  #myself {
    display: flex;
    flex-direction: column;
  }
  #navbar {
    font-size: medium;
  }
  #proPic {
  }
  #shortDes {
    font-size: xx-large;
  }
}
