#navbar {
  background-color: black;
  padding: 5px;
}
ul {
  display: flex;
  justify-content: space-evenly;
}
a {
  color: white;
  text-decoration: none;
}
li {
  list-style-type: none;
  display: inline-block;
}
